tr.active-witness {
  background-color: rgba(80, 210, 194, 0.4) !important;
  transition: background-color 0.6s ease;
}

.clickable {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.view-switcher {
  padding-top: 1rem;
  text-align: right;
}

.explore-witness--info {
  margin-top: 0px;
  margin-bottom: 18px;
}
